.nav-header .brand-title {
    margin-left: 15px;
    width: auto;
    max-width: 100%;
}
.hamburger .line{
    background: #F8C12C!important;
}
.header-content{
    padding-left: 1.875rem!important;
}
.quixnav{
    background-color: #0047D4!important;
    top: 0px!important;
    z-index: 22!important;
    height: 100vh!important;
    position: fixed!important;
}
[data-sidebar-position="fixed"][data-layout="vertical"] .nav-header {
    z-index: 30!important;
}
.box-profil-dash{
    margin-top: -40px; text-align: center;
}
.box-profil-dash img{
    height: 100px;
}
.show.menu-toggle .box-profil-dash img{
    height: 50px!important;
    margin-bottom: 15px;
}
.show.menu-toggle .box-profil-dash{
    margin-top: -25px!important;
}
.link-item-dash{
    color: #FFF;
    font-family: HurmeGeometricSans1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; text-transform: unset;
    border-right: 8px solid transparent;
    background: transparent!important;
}
.link-item-dash:hover{
    background: #4075DF!important;  border-right: 8px solid #000!important;
}
.link-item-dash.activeItem{
    background: #4075DF!important;
    border-right: 8px solid #000!important;
}
.pull-right{
    float: right!important;
}
.show.menu-toggle .quixnav .login-username, .show.menu-toggle .quixnav .login-userrole{
    display: none!important;
}

.login-username{
    color: #FFF;
    text-align: center;
    /* User-name */
    font-family: HurmeGeometricSans1;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.login-userrole{
    color: #FFF;
    text-align: center;
    /* Label */
    font-family: HurmeGeometricSans1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.login-userrole div.bd-b{
    display: inline-block; width: 200px; border-bottom: 2px solid #fff;
}

.cardd-dash{
    box-shadow: 0px 0px 10px 0px #BAE0FF; border: 1px solid #BAE0FF;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
}
.cardd-dash h3{
    font-family: HurmeGeometricSans1;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #858891;
}
.count-item-dash h3{
    font-family: HurmeGeometricSans1;
    font-size: 40px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}
.count-item-dash div.descItem{
    font-family: HurmeGeometricSans1;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}
.count-item-dash div.descItem2{
    font-family: HurmeGeometricSans1;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.count-item-dash h6{
    font-family: HurmeGeometricSans1;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.bp-legende-dash{
	display: inline-block; height: 15px; width: 15px; border-radius: 2px;
}

.bp-legende1{
	background: #0080FF!important;
}

.bp-legende2{
	background: #D4D8DE!important;
}

.bp-legende3{
	background: #F8C12C!important;
}
.bp-legende4{
	background: #E7FFED!important;
    border: 1px solid #1AB846;
}
.bp-legende5{
	background: #FFD8D8!important;
    border: 1px solid #DC3545;
}
.footer{
    background-color: #fff;
    border-top: 1px solid #ddd;
}


#demo {
    margin: 20px auto;
    max-width: 960px;
  }
  #demo h1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 0;
    font-weight: 300;
    color: #212121;
    text-transform: inherit;
    margin-bottom: 1rem;
    text-align: center;
  }
  #demo h2 {
    font-size: 1.5rem;
    line-height: 2.8rem;
    letter-spacing: 0.01rem;
    font-weight: 400;
    color: #212121;
    text-align: center;
  }
  .shadow-z-1 {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  /* -- Material Design Table style -------------- */
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: #fff;
    color: #333;
  }
  .table > thead > tr,
  .table > tbody > tr,
  .table > tfoot > tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    text-align: left;
    padding: 10px;
    vertical-align: middle!important;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .table > thead > tr > th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .table > caption + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > th,
  .table > thead:first-child > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  .table > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  .table .table {
    background-color: #fff;
  }
  .table .no-border {
    border: 0;
  }
  .table-condensed > thead > tr > th,
  .table-condensed > tbody > tr > th,
  .table-condensed > tfoot > tr > th,
  .table-condensed > thead > tr > td,
  .table-condensed > tbody > tr > td,
  .table-condensed > tfoot > tr > td {
    padding: 0.8rem;
  }
  .table-bordered {
    border: 0;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
  }
  .table-striped > tbody > tr:nth-child(odd) > td,
  .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f5f5f5;
  }
  .table-hover > tbody > tr:hover > td,
  .table-hover > tbody > tr:hover > th {
    background-color: rgba(0, 0, 0, 0.12);
  }
  @media screen and (max-width: 768px) {
    .table-responsive-vertical > .table {
      margin-bottom: 0;
      background-color: transparent;
    }
    .table-responsive-vertical > .table > thead,
    .table-responsive-vertical > .table > tfoot {
      display: none;
    }
    .table-responsive-vertical > .table > tbody {
      display: block;
    }
    .table-responsive-vertical > .table > tbody > tr {
      display: block;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      margin-bottom: 1.6rem;
    }
    .table-responsive-vertical > .table > tbody > tr > td {
      background-color: #fff;
      display: block;
      vertical-align: middle;
      text-align: right;
    }
    .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size: inherit;
      font-weight: 400;
      color: #757575;
    }
    .table-responsive-vertical.shadow-z-1 {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
      border: none;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    }
    .table-responsive-vertical > .table-bordered {
      border: 0;
    }
    .table-responsive-vertical > .table-bordered > tbody > tr > td {
      border: 0;
      border-bottom: 1px solid #e0e0e0;
    }
    .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
      border-bottom: 0;
    }
    .table-responsive-vertical > .table-striped > tbody > tr > td,
    .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
      background-color: #f5f5f5;
    }
    .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
    .table-responsive-vertical > .table-hover > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  .table-striped.table-mc-red > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-red > tbody > tr:nth-child(odd) > th {
    background-color: #fde0dc;
  }
  .table-hover.table-mc-red > tbody > tr:hover > td,
  .table-hover.table-mc-red > tbody > tr:hover > th {
    background-color: #f9bdbb;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-red > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-red > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-red > tbody > tr > td:nth-child(odd) {
      background-color: #fde0dc;
    }
    .table-responsive-vertical .table-hover.table-mc-red > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-red > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-red > tbody > tr > td:hover {
      background-color: #f9bdbb;
    }
  }
  .table-striped.table-mc-pink > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-pink > tbody > tr:nth-child(odd) > th {
    background-color: #fce4ec;
  }
  .table-hover.table-mc-pink > tbody > tr:hover > td,
  .table-hover.table-mc-pink > tbody > tr:hover > th {
    background-color: #f8bbd0;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-pink > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-pink > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-pink > tbody > tr > td:nth-child(odd) {
      background-color: #fce4ec;
    }
    .table-responsive-vertical .table-hover.table-mc-pink > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-pink > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-pink > tbody > tr > td:hover {
      background-color: #f8bbd0;
    }
  }
  .table-striped.table-mc-purple > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-purple > tbody > tr:nth-child(odd) > th {
    background-color: #f3e5f5;
  }
  .table-hover.table-mc-purple > tbody > tr:hover > td,
  .table-hover.table-mc-purple > tbody > tr:hover > th {
    background-color: #e1bee7;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-purple > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-purple > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-purple > tbody > tr > td:nth-child(odd) {
      background-color: #f3e5f5;
    }
    .table-responsive-vertical .table-hover.table-mc-purple > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-purple > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-purple > tbody > tr > td:hover {
      background-color: #e1bee7;
    }
  }
  .table-striped.table-mc-deep-purple > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-deep-purple > tbody > tr:nth-child(odd) > th {
    background-color: #ede7f6;
  }
  .table-hover.table-mc-deep-purple > tbody > tr:hover > td,
  .table-hover.table-mc-deep-purple > tbody > tr:hover > th {
    background-color: #d1c4e9;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-deep-purple > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-deep-purple > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-deep-purple > tbody > tr > td:nth-child(odd) {
      background-color: #ede7f6;
    }
    .table-responsive-vertical .table-hover.table-mc-deep-purple > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-deep-purple > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-deep-purple > tbody > tr > td:hover {
      background-color: #d1c4e9;
    }
  }
  .table-striped.table-mc-indigo > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-indigo > tbody > tr:nth-child(odd) > th {
    background-color: #e8eaf6;
  }
  .table-hover.table-mc-indigo > tbody > tr:hover > td,
  .table-hover.table-mc-indigo > tbody > tr:hover > th {
    background-color: #c5cae9;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-indigo > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-indigo > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-indigo > tbody > tr > td:nth-child(odd) {
      background-color: #e8eaf6;
    }
    .table-responsive-vertical .table-hover.table-mc-indigo > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-indigo > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-indigo > tbody > tr > td:hover {
      background-color: #c5cae9;
    }
  }
  .table-striped.table-mc-blue > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-blue > tbody > tr:nth-child(odd) > th {
    background-color: #e7e9fd;
  }
  .table-hover.table-mc-blue > tbody > tr:hover > td,
  .table-hover.table-mc-blue > tbody > tr:hover > th {
    background-color: #d0d9ff;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr > td:nth-child(odd) {
      background-color: #e7e9fd;
    }
    .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr > td:hover {
      background-color: #d0d9ff;
    }
  }
  .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > th {
    background-color: #e1f5fe;
  }
  .table-hover.table-mc-light-blue > tbody > tr:hover > td,
  .table-hover.table-mc-light-blue > tbody > tr:hover > th {
    background-color: #b3e5fc;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td:nth-child(odd) {
      background-color: #e1f5fe;
    }
    .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr > td:hover {
      background-color: #b3e5fc;
    }
  }
  .table-striped.table-mc-cyan > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-cyan > tbody > tr:nth-child(odd) > th {
    background-color: #e0f7fa;
  }
  .table-hover.table-mc-cyan > tbody > tr:hover > td,
  .table-hover.table-mc-cyan > tbody > tr:hover > th {
    background-color: #b2ebf2;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-cyan > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-cyan > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-cyan > tbody > tr > td:nth-child(odd) {
      background-color: #e0f7fa;
    }
    .table-responsive-vertical .table-hover.table-mc-cyan > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-cyan > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-cyan > tbody > tr > td:hover {
      background-color: #b2ebf2;
    }
  }
  .table-striped.table-mc-teal > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-teal > tbody > tr:nth-child(odd) > th {
    background-color: #e0f2f1;
  }
  .table-hover.table-mc-teal > tbody > tr:hover > td,
  .table-hover.table-mc-teal > tbody > tr:hover > th {
    background-color: #b2dfdb;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-teal > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-teal > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-teal > tbody > tr > td:nth-child(odd) {
      background-color: #e0f2f1;
    }
    .table-responsive-vertical .table-hover.table-mc-teal > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-teal > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-teal > tbody > tr > td:hover {
      background-color: #b2dfdb;
    }
  }
  .table-striped.table-mc-green > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-green > tbody > tr:nth-child(odd) > th {
    background-color: #d0f8ce;
  }
  .table-hover.table-mc-green > tbody > tr:hover > td,
  .table-hover.table-mc-green > tbody > tr:hover > th {
    background-color: #a3e9a4;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-green > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-green > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-green > tbody > tr > td:nth-child(odd) {
      background-color: #d0f8ce;
    }
    .table-responsive-vertical .table-hover.table-mc-green > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-green > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-green > tbody > tr > td:hover {
      background-color: #a3e9a4;
    }
  }
  .table-striped.table-mc-light-green > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-light-green > tbody > tr:nth-child(odd) > th {
    background-color: #f1f8e9;
  }
  .table-hover.table-mc-light-green > tbody > tr:hover > td,
  .table-hover.table-mc-light-green > tbody > tr:hover > th {
    background-color: #dcedc8;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-light-green > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-light-green > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-light-green > tbody > tr > td:nth-child(odd) {
      background-color: #f1f8e9;
    }
    .table-responsive-vertical .table-hover.table-mc-light-green > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-light-green > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-light-green > tbody > tr > td:hover {
      background-color: #dcedc8;
    }
  }
  .table-striped.table-mc-lime > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-lime > tbody > tr:nth-child(odd) > th {
    background-color: #f9fbe7;
  }
  .table-hover.table-mc-lime > tbody > tr:hover > td,
  .table-hover.table-mc-lime > tbody > tr:hover > th {
    background-color: #f0f4c3;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-lime > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-lime > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-lime > tbody > tr > td:nth-child(odd) {
      background-color: #f9fbe7;
    }
    .table-responsive-vertical .table-hover.table-mc-lime > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-lime > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-lime > tbody > tr > td:hover {
      background-color: #f0f4c3;
    }
  }
  .table-striped.table-mc-yellow > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-yellow > tbody > tr:nth-child(odd) > th {
    background-color: #fffde7;
  }
  .table-hover.table-mc-yellow > tbody > tr:hover > td,
  .table-hover.table-mc-yellow > tbody > tr:hover > th {
    background-color: #fff9c4;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-yellow > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-yellow > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-yellow > tbody > tr > td:nth-child(odd) {
      background-color: #fffde7;
    }
    .table-responsive-vertical .table-hover.table-mc-yellow > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-yellow > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-yellow > tbody > tr > td:hover {
      background-color: #fff9c4;
    }
  }
  .table-striped.table-mc-amber > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-amber > tbody > tr:nth-child(odd) > th {
    background-color: #fff8e1;
  }
  .table-hover.table-mc-amber > tbody > tr:hover > td,
  .table-hover.table-mc-amber > tbody > tr:hover > th {
    background-color: #ffecb3;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-amber > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-amber > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-amber > tbody > tr > td:nth-child(odd) {
      background-color: #fff8e1;
    }
    .table-responsive-vertical .table-hover.table-mc-amber > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-amber > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-amber > tbody > tr > td:hover {
      background-color: #ffecb3;
    }
  }
  .table-striped.table-mc-orange > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-orange > tbody > tr:nth-child(odd) > th {
    background-color: #fff3e0;
  }
  .table-hover.table-mc-orange > tbody > tr:hover > td,
  .table-hover.table-mc-orange > tbody > tr:hover > th {
    background-color: #ffe0b2;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-orange > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-orange > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-orange > tbody > tr > td:nth-child(odd) {
      background-color: #fff3e0;
    }
    .table-responsive-vertical .table-hover.table-mc-orange > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-orange > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-orange > tbody > tr > td:hover {
      background-color: #ffe0b2;
    }
  }
  .table-striped.table-mc-deep-orange > tbody > tr:nth-child(odd) > td,
  .table-striped.table-mc-deep-orange > tbody > tr:nth-child(odd) > th {
    background-color: #fbe9e7;
  }
  .table-hover.table-mc-deep-orange > tbody > tr:hover > td,
  .table-hover.table-mc-deep-orange > tbody > tr:hover > th {
    background-color: #ffccbc;
  }
  @media screen and (max-width: 767px) {
    .table-responsive-vertical .table-striped.table-mc-deep-orange > tbody > tr > td,
    .table-responsive-vertical .table-striped.table-mc-deep-orange > tbody > tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-responsive-vertical .table-striped.table-mc-deep-orange > tbody > tr > td:nth-child(odd) {
      background-color: #fbe9e7;
    }
    .table-responsive-vertical .table-hover.table-mc-deep-orange > tbody > tr:hover > td,
    .table-responsive-vertical .table-hover.table-mc-deep-orange > tbody > tr:hover {
      background-color: #fff;
    }
    .table-responsive-vertical .table-hover.table-mc-deep-orange > tbody > tr > td:hover {
      background-color: #ffccbc;
    }
  }
  table tr:nth-of-type(even) {
      background-color: #F1F3F9!important;
  }
  table tr{
    font-family: Muli-Regular;
    font-size: 14px;
  }
  thead th {
    font-family: Muli-Bold!important;
    font-size: 15px!important;
    color: #283346!important;
  }
  
  .page-link {
      margin: 0px 3px!important;
      font-family: Muli-Regular;
  }
  .page-item.active .page-link {
      z-index: 3;
      color: #fff;
      background-color: #007FFF!important;
      border-color:  #007FFF!important;
  }
  
  .action-tb-link img{
    height: 20px;
  }
  /**
  End Table
  **/



  /* Start Header */
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);*/
  }
  .header-menu .nav2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 5px 0px;
    margin: 0px 0px;
  }
  .header-menu .nav2 .menu_open {
    display: none;
  }
  .header-menu .nav2 .logo {
    font-size: 20px;
    font-weight: bolder;
    color: #3f4449;
    flex: 1 0 auto;
  }
  .header-menu .nav2 .m_menu {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
  }
  .header-menu .nav2 .m_menu .menu_close {
    display: none;
  }
  .header-menu .nav2 .m_menu ul {
    display: flex;
  }
  .header-menu .nav2 .m_menu ul li {
    position: relative;
    list-style: none;
  }
  .header-menu .nav2 .m_menu ul li a {
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #ccc;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
    font-weight: bold;
    cursor: pointer;
  }
  .header-menu .nav2 .m_menu ul li a.active {
    color: #495057;
  }
  .header-menu .nav2 .m_menu ul li a:hover {
    opacity: 0.7;
  }
  .header-menu .nav2 .m_menu ul li a.button {
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    min-width: 80px;
    text-align: center;
    transition: opacity 0.4s, box-shadow 0.3s ease-in-out;
  }
  .header-menu .nav2 .m_menu ul li a.button:hover {
    opacity: 0.7;
  }
  .header-menu .nav2 .m_menu ul li a.button:active {
    box-shadow: 0px 1px 5px #4c42428a inset;
  }
  .header-menu .nav2 .m_menu ul li a.signin {
    background: #ffda88;
    text-shadow: 0px 2.5px 4px #32323247;
  }
  .header-menu .nav2 .m_menu ul li a.signup {
    background: #ff7777;
    text-shadow: 0px 2.5px 4px #32323247;
  }
  .header-menu .nav2 .m_menu ul li .down-menu {
    position: absolute;
    background: white;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: none;
    min-width: 100px;
    overflow: hidden;
    padding: 0px;
  }
  .header-menu .nav2 .m_menu ul li .down-menu li {
    position: static;
    width: 100%;
  }
  .header-menu .nav2 .m_menu ul li .down-menu li a {
    text-align: left;
    display: block;
    width: 100%;
  }
  .header-menu .nav2 .m_menu ul li .down-menu li a:hover {
    background: #3f44490e;
    color: #495057;
  }
  .header-menu .nav2 .m_menu ul li.menu_o:hover .down-menu {
    display: block;
  }
  .header-menu .nav2 .m_menu.open {
    display: flex;
  }

  @media (max-width: 625px) {
    .header-menu .nav2 .menu_open {
      display: block;
      padding: 5px 10px;
      font-size: 20px;
      border: none;
      background: none;
      color: #3f4449;
      outline: none;
      cursor: pointer;
    }
    .header-menu .nav2 .m_menu {
      position: fixed;
      top: 0px;
      left: 0;
      width: 50%;
      height: 100vh;
      z-index: 99;
      display: none;
      overflow-y: auto;
      overflow-x: hidden;
      background: white;
      padding: 10px;
      box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.07);
      flex-wrap: wrap;
    }
    .header-menu .nav2 .m_menu .menu_close {
      position: absolute;
      right: 10px;
      display: block;
      width: 50px;
      height: 50px;
      font-size: 45px;
      color: white;
      background: #333;
      border: none;
      outline: none;
      border-radius: 1px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
    }
    .header-menu .nav2 .m_menu .menu_close:hover {
      opacity: 0.4;
    }
    .header-menu .nav2 .m_menu ul {
      display: block;
      width: 100%;
      margin-top: auto;
    }
    .header-menu .nav2 .m_menu ul:first-of-type {
      margin: 55px 0 5px;
    }
    .header-menu .nav2 .m_menu ul li {
      text-align: center;
    }
    .header-menu .nav2 .m_menu ul li .down-menu {
      margin: 5px 0px;
      position: relative;
    }
    .header-menu nav .m_menu ul li a {
      padding: 15px;
    }
    .header-menu .nav2 .m_menu ul li a:active, .header-menu .nav2 .m_menu ul li a:hover {
      background: #3f44490e;
      color: #495057;
      border-radius: 1px;
    }
    .header-menu .nav2 .m_menu .user li a {
      display: block;
      margin-bottom: 5px;
      width: 100%;
      border-radius: 1px !important;
    }
  }
  /* End   Header */


  .nav__Tabs ul {
    background: #FFF;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
    border-bottom: 1px solid #e3e3e3;
  }
  
  .nav__Tabs li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    flex: 1;
    padding: 5px 16px;
  }
  
  .nav__Tabs li a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    padding: 1em 0;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    opacity: 0.5;
    color: #9EACB8;
    line-height: 1;
    transition: all 0.3s, transform 0.3s;
  }
  .nav__Tabs li a:hover {
    opacity: 1;
  }
  
  .nav__Tabs li.current a {
    opacity: 1;
    color: #0047D4;
    font-family: HurmeGeometricSans1;
  }
  
  /* The line */
  .nav__Tabs li:last-child::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 4px;
    background: #0047D4;
    content: "";
    transition: transform 0.3s;
  }
  
  /* Move the line */
  .nav__Tabs li:first-child.current ~ li:last-child::before {
    transform: translate3d(-112.5%, 0, 0);
  }
  
  .nav__Tabs li:last-child.current::before {
    transform: translate3d(12.5%, 0, 0);
  }




  /*/////////////// GLOBAL STYLES ////////////////////*/

.main-w3ls {
  background: #000000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 100vh;
  padding: 2em 0;
  position: relative;
  z-index: 1;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}
.main-w3ls:before {
  position: absolute;
  content:'';
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.text-center {
  text-align: center;
}

/*/////////////// FONT STYLES ////////////////////*/

.content-w3ls {
  margin: 2em auto;
  padding: 2em 4em;
  border: 4px solid #fff;
  border-radius: 15px;
}
ul.links-unordered-list li.active a {
  background: rgba(255, 255, 255, 0.05);
  padding: 5px 20px;
  color: #fff;
}
.icon-w3ls span.fa{
  font-size: 50px;
  color: #fff;
}
.icon-w3ls{
margin-bottom:3em;
}
.content-bottom {
  padding: 0em;
  margin: 0em;
position: relative; 
  z-index: 1;
}
.logo-w3ls h1 a {
  font-size: 35px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
}
.content-w3ls ul li {
  display: inline-block;
}

li.switch-agileits {
  float: left;
}

ul.list-login li:nth-child(2) {
  float: right;
}
ul.list-login-bottom li:nth-child(2) {
  float: right;
}

.field-group label {
  font-size: 15px;
}

.check {
  margin: .5em 0;
}

.checkbox input,
.radio input {
  position: absolute;
  left: -9999px;
}

.checkbox i {
  position: absolute;
  bottom: 5px;
  left: 2px;
  display: block;
  width: 14px;
  height: 14px;
  outline: none;
  border: none;
  background: #fff;
}

.check label {
  margin: 0;
  font-size: 1em;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
}

.checkbox {
  position: relative;
  padding-left: 28px !important;
  cursor: pointer;
}

.checkbox input:checked+i:after,
.radio input:checked+i:after {
  opacity: 1;
}


.checkbox input+i:after,
.radio input+i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}

/*/////////////// FORM STYLES ////////////////////*/

form .field-group {
  background: #fff;
  margin-bottom: 20px;
  padding: 0px 10px 0px 0;
border-radius: 35px;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
-ms-border-radius: 35px;
  -o-border-radius: 35px;
  position: relative;
}

form .field-group span {
  color: #999;
  position: absolute;
  left: 25px;
  top: 18px;
  opacity: .5;
}

ul.list-login {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.wthree-field button.btn {
  background: #fc636b;
  background: #a3b955;
  border: none;
  color: #fff;
  padding: 12px 15px;
  text-transform: uppercase;
font-family: 'Mukta', sans-serif;
  font-size: 16px;
width:100%;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
border-radius: 35px;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
-ms-border-radius: 35px;
-o-border-radius: 35px;
}
.wthree-field button.btn:hover {
  background: #97ab4f;
}

.bottom-grid,.bottom-grid1{
  text-align: center;
}
ul.links-unordered-list li {
  display: inline-block;
  margin-right: 10px;
}
ul.links-unordered-list li a {
  font-size: 16px;
  color: #ccc;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0 5px;
  text-transform: capitalize;
}
.wthree-field input {
  padding: 12px 0 12px 50px;
  font-size: 18px;
  color: #999;
  letter-spacing: 0.5px;
  border: none;
  background: transparent;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  width: 100%;
  outline: none;
}

::-webkit-input-placeholder { /* Edge */
  color: #999;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  #999;
}

::placeholder {
  color: #999;
}

/* switch */

label.switch {
  position: relative;
  display: inline-block;
  height: 18px;
  padding-left: 3em;
  cursor: pointer;
  color: #ccc;
  font-weight: 300;
}


label.switch {
  font-size: 15px;
  letter-spacing: .5px;
  font-weight: 400;
  color: #ccc;
  text-transform: capitalize;
}


label.switch:hover {
  color: #fff;
}
ul.list-login-bottom li:nth-child(1) a,ul.list-login-bottom li:nth-child(2) a {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}
ul.list-login-bottom li:nth-child(1):hover a,ul.list-login-bottom li:nth-child(2) a:hover {
  color: #ccc;
}

.switch input {
  display: none;
}

.slider-w3ls {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 21%;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-w3ls:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider-w3ls {
  background-color: #a3b955;
}

input:focus+.slider-w3ls {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider-w3ls:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */

.slider-w3ls.round {
  border-radius: 34px;
}

.slider-w3ls.round:before {
  border-radius: 50%;
}
/* //switch */
.copyright-login {
  padding: 0 20px;
  position: fixed;
  bottom: 10px;
  width: 100%;
  left: 0px;
}
.copyright-login p {
  font-size: 17px;
  line-height: 26px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}
.copyright-login p a {
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
}

.copyright-login .confidentiality{
  float: right;
}
.copyright-login .confidentiality a{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
/* -- Responsive code -- */
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1080px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 768px) {
.logo-w3ls h1 a {
  font-size: 30px;
}
}
@media screen and (max-width: 668px) {
.icon-w3ls {
  margin-bottom: 2em;
}
.icon-w3ls span.fa {
  font-size: 40px;
}
ul.list-login-bottom li:nth-child(1) a, ul.list-login-bottom li:nth-child(2) a {
  font-size: 14px;
}
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 568px) {
}

@media screen and (max-width: 480px) {
  
}

@media screen and (max-width: 415px) {
.logo-w3ls {
  margin-bottom: 10px;
  }
  .content-w3ls {
      padding: 2em 2em;
  }
}

@media screen and (max-width: 384px) {
  .content-w3ls {
      padding: 1em 1em;
      margin: 1em auto;
  }
  form .field-group {
      margin-bottom: 15px;
  }
  ul.list-login {
      margin-bottom: 0.5em;
  }
  ul.list-login-bottom li:nth-child(1) a, ul.list-login-bottom li:nth-child(2) a {
      letter-spacing: 1px;
  }
  .copyright p {
      letter-spacing: .5px;
  }
}

@media screen and (max-width: 375px) {
  
}
@media screen and (max-width: 320px) {
  
}

input:checked+.slider-w3ls {
  background-color: #1b4889;
}